

// Team & Board Member Bios
// ---------------------------------------+
//

// Common styles, Board Members and Memorials
.bio {
	@include clearfix();
	margin: auto;
	padding: 40px 0;
	position: relative;

	@media (max-width: $breakpoint-mobile-max) {
		border-bottom: 1px solid $color-blue;
		padding-bottom: 20px;
	}

	.container {
		align-items: center;
		display: flex;

		@media (min-width: $breakpoint-desktop-wide) {
			width: 80%;
		}

		@media (max-width: $breakpoint-mobile-max) {
			display: block;
		}
	}

	&.detail {
		.container {
			align-items: flex-start;
		}
	}

	.bio-image {
		flex: 1;
		position: relative;

		.bio-image-inner {
			border-radius: 50%;
			display: block;
			margin: 0 auto 20px;
			overflow: hidden;
			position: relative;
			width: 80%;

			&::after {
				border: 15px solid rgba($color-beige, 0.75);
				border-radius: 50%;
				content: '';
				display: block;
				height: 100%;
				left: 0;
				position: absolute;
				top: 0;
				transition: all $anim-speed ease;
				width: 100%;

				@media (max-width: $breakpoint-tablet-max) {
					border-width: 10px;
				}
			}
		}



		a {
			&:hover,
			&:focus {
				&::after {
					border-width: 0;
				}
			}
		}

		img {
			border-radius: 50%;
		}
	}

	.bio-content {
		flex: 2;
		padding-left: 30px;
	}

	.bio-subhead {
		font-size: 1.2em;
		font-weight: 900;
	}

	h2 {
		margin-bottom: 0;
	}
}



// Team Bios
.bio-team {

	.bio-content {
		flex: 1;
		text-align: center;
	}

	.bio-subhead {
		color: $color-blue-dark;
		font-size: 0.8em;
	}
}
