
// Video player
// ---------------------------------------+
//

.video-player {
	height: 0;
	overflow: hidden;
	padding-bottom: 56.25%;
	position: relative;

	iframe,
	object,
	embed {
		height: 100%;
		left: 0;
		position: absolute;
		right: 0;
		top: 0;
		width: 100%;
	}
}

// Modal view
.modal-content {
	.video-player {
		flex-basis: 100%;
	}
}
