
// Hero Carousel (homepage)
// ---------------------------------------+
//


.section-hero-home {

	@media (min-width: $breakpoint-desktop-min) {
		height: calc(100vh - 180px);
	}

	@media (min-width: $breakpoint-tablet-min) and (max-width: $breakpoint-tablet-max) {
		min-height: 650px;
	}

	@media (max-width: $breakpoint-mobile-max) {
		min-height: 540px;
	}

	&:hover {
		.showOnHeroHover {
			opacity: 1;
		}
	}

	&:after {
		transform: translate(-50%, -50px) rotate(-3deg);
		z-index: 3;
	}
}

.hero-carousel {
	min-height: 650px;
	overflow: hidden;
	position: relative;
	width: 100%;

	@media (min-width: $breakpoint-desktop-min) {
		height: calc(100vh - 180px);
	}

	@media (min-width: $breakpoint-tablet-min) and (max-width: $breakpoint-tablet-max) {
		height: calc(100vh - 180px);
	}

	@media (max-width: $breakpoint-mobile-max) {
		min-height: 540px;
	}
}

.slide-outer-frame {
	display: block;
	height: 100%;
	left: 0;
	overflow: hidden;
	position: absolute;
	top: 0;
	width: 100%;

	.hero-foreground {
		opacity: 0;
	}

	&.is-hidden-slide {
		visibility: hidden;
		z-index: 0;
	}

	&.is-visible-slide {
		visibility: visible;
		z-index: 1;

		.hero-foreground {
			opacity: 1;
		}
	}

	&.is-current-slide {
		visibility: visible;
		z-index: 2;

		.hero-foreground {
			opacity: 1;
		}
	}

	.slide-inner-frame {
		@media (min-width: $breakpoint-desktop-min) {
			height: 100%;
			padding: 0 0 200px;

			&:after {
				transform: translate(-50%, -250px) rotate(3deg);
			}
		}

		@media (min-width: $breakpoint-tablet-min) and (max-width: $breakpoint-tablet-max) {
			height: 100%;
			padding: 0 0 200px;

			&:after {
				transform: translate(-50%, -200px) rotate(3deg);
			}
		}

		@media (max-width: $breakpoint-mobile-max) {
			height: 100%;
			padding: 0 0 250px;

			&:after {
				transform: translate(-50%, -200px) rotate(3deg);
			}
		}
	}

	.slide-content {
		color: $color-white;
		position: relative;
		@media (max-width: $breakpoint-mobile-max) {
			align-self: flex-start;
			padding-top: 40px;

			p {
				display: none;
				visibility: hidden;
			}
		}
	}
}


.hero-carousel-controls {

	@media (max-width: $breakpoint-mobile-max) {
		display: none;
		visibility: hidden;
	}

	.hero-carousel-prev,
	.hero-carousel-next {
		background: rgba($color-black, 0.3);
		border: none;
		border-radius: 50%;
		cursor: pointer;
		display: block;
		height: 70px;
		opacity: 0;
		position: absolute;
		text-align: left;
		top: 32%;
		transform-origin: center center;
		transition: all $anim-speed ease-in;
		width: 70px;
		z-index: 2;

		@media (max-width: $breakpoint-desktop-small) {
			display: none;
		}

		span {
			@include offscreen();
		}

		.icon {
			fill: $color-white;
			font-size: 20px;
			margin-right: -10px;
			transition: all $anim-speed ease-in;
		}

		// PREVENT TO DISPLAY THE ARROW ICON IF THE AREA IS TO SMALL.
		@media (min-width: 1195px) and (max-width: 1380px) {
			display: none;
		}

		@media (max-width: 1130px) {
			display: none;
		}
	}

	.hero-carousel-prev {
		left: 3%;
		text-indent: 18px;

		@media (max-width: $breakpoint-desktop-wide) {
			left: 1%;
		}

		.icon {
			transform: scaleX(-1);

			&:nth-of-type(odd) {
				opacity: 1;
			}

			&:nth-of-type(even) {
				opacity: 0;
			}
		}

		&:hover,
		&:focus {
			text-indent: 5px;

			.icon {
				&:nth-of-type(odd) {
					opacity: 0;
				}

				&:nth-of-type(even) {
					opacity: 1;
				}
			}
		}
	}

	.hero-carousel-next {
		right: 3%;
		text-indent: 8px;

		@media (max-width: $breakpoint-desktop-wide) {
			right: 1%;
		}

		.icon {
			&:nth-of-type(odd) {
				opacity: 0;
			}

			&:nth-of-type(even) {
				opacity: 1;
			}
		}

		&:hover,
		&:focus {
			text-indent: 20px;

			.icon {
				&:nth-of-type(odd) {
					opacity: 1;
				}

				&:nth-of-type(even) {
					opacity: 0;
				}
			}
		}
	}

	.hero-carousel-pagination {
		left: 0;
		position: absolute;
		width: 100%;
		z-index: 2;

		@media (min-width: $breakpoint-desktop-min) {
			bottom: 290px;
		}

		@media (max-width: $breakpoint-tablet-max) {
			bottom: 230px;
		}

		button {
			@include hide-text();
			background: transparent;
			border: 1px solid $color-white;
			border-radius: 2px;
			cursor: pointer;
			display: inline-block;
			height: 4px;
			margin-right: 20px;
			padding: 0;
			position: relative;
			width: 30px;

			.progress-bar {
				background: $color-white;
				height: 100%;
				left: 0;
				position: absolute;
				top: 0;
				transform: scaleX(0);
				transform-origin: 0 0;
				width: 100%;
			}

			&.is-current-slide {
				.progress-bar {
					transform: scaleX(1);
				}
			}
		}
	}
}
