
// Instagram Plugin
// ---------------------------------------+
//

.instagram-posts {
	.post {
		background: $color-white;
		border: 1px solid $color-grey-light;
		border-radius: 4px;
		position: relative;
	}

	.header {
		align-items: center;
		display: flex;
		font-weight: 600;
		padding: 12px;
	}

	.avatar {
		border: 1px solid $color-grey-light;
		border-radius: 50%;
		display: flex;
		height: 40px;
		margin-right: 10px;
		overflow: hidden;
		width: 40px;
	}

	.user {
		display: flex;
	}

	.desc {
		max-width: calc(100% - 40px);
		padding: 12px;
	}

	.stats {
		align-items: center;
		display: flex;
		font-weight: 600;
	}

	.stat {
		color: $color-black;
		margin-right: 20px;

		&:hover,
		&:focus {
			border-color: $color-black;
		}

		.stat-logo {
			display: inline-block;
			margin-right: 5px;

			.icon {
				fill: $color-black;
			}
		}
	}

	.timestamp {
		color: $color-grey-med-dark;
		font-size: 14px;
		text-align: left;
		text-transform: uppercase;
	}

	.instagram-logo {
		border: none;
		bottom: 12px;
		color: $color-black;
		height: 32px;
		position: absolute;
		right: 12px;
		width: 32px;

		&:hover,
		&:focus {
			border: none;
		}

		.icon {
			fill: $color-black;
			height: 100%;
			width: 100%;
		}
	}
}
