
// Video player
// ---------------------------------------+
//

.video-player {
	position: relative;

	@media (min-width: $breakpoint-tablet-min) {
		margin-bottom: 70px;
	}

	@media (max-width: $breakpoint-mobile-max) {
		height: 0;
		margin-bottom: 60px;
		overflow: hidden;
		padding-bottom: 56.25%;
		padding-top: 30px;
	}

	iframe,
	object,
	embed {
		@media (min-width: $breakpoint-tablet-min) {
			height: 405px;
			max-width: 720px;
			width: 100%;
		}

		@media (max-width: $breakpoint-mobile-max) {
			height: 100%;
			left: 0;
			position: absolute;
			right: 0;
			top: 0;
			width: 95%;
		}
	}
}
