
// Buttons
// ---------------------------------------+
//

.button {
	background: rgba($color-black, 0.3);
	color: $color-white;
	display: inline-block;
	font-family: $font-family-sans;
	font-weight: 700;
	line-height: 1;
	margin: 0 auto;
	padding: 0.75em 1.25em;
	text-transform: uppercase;
	transition: all $anim-speed ease-in;

	&:hover,
	&:focus {
		background: rgba($color-black, 0.5);
		border-bottom-color: transparent;
		text-decoration: none;
	}

	&.blue {
		background: $color-blue;

		&:hover,
		&:focus {
			background: darken($color-blue, 10%);
		}
	}

	&.green {
		background: $color-green;

		&:hover,
		&:focus {
			background: darken($color-green, 10%);
		}
	}

	&.red {
		background: $color-red;

		&:hover,
		&:focus {
			background: darken($color-red, 10%);
		}
	}

	&.yellow {
		background: $color-yellow;

		&:hover,
		&:focus {
			background: darken($color-yellow, 10%);
		}
	}
}
