
// Two circle images callout
// ---------------------------------------+
//

.callout-circles {
	@include clearfix();
	margin: auto;
	padding: 40px 0;
	position: relative;

	@media (max-width: $breakpoint-mobile-max) {
		display: block;
		padding: 20px 0;
	}

	.container {
		align-items: center;
		display: flex;

		@media (max-width: $breakpoint-mobile-max) {
			display: block;
		}
	}

	.callout-images {
		padding-right: 5%;
		position: relative;
		width: 40%;

		@media (max-width: $breakpoint-mobile-max) {
			height: 40vw;
			margin: auto;
			padding: 0;
			width: 90%;
		}
	}

	.callout-image {
		background: center center no-repeat;
		background-size: cover;
		border: 10px solid $color-beige;
		border-radius: 50%;
		height: 20vw;
		max-height: 400px;
		max-width: 400px;
		overflow: hidden;
		width: 20vw;

		@media (max-width: $breakpoint-tablet-max) {
			border-width: 6px;
		}

		@media (max-width: $breakpoint-mobile-max) {
			height: 40vw;
			left: 50%;
			position: absolute;
			width: 40vw;
		}
	}

	.callout-image-1 {
		@media (max-width: $breakpoint-mobile-max) {
			transform: translateX(-95%);
		}
	}

	.callout-image-2 {
		float: right;
		margin-top: -25%;

		@media (max-width: $breakpoint-mobile-max) {
			margin-top: 0;
			transform: translateX(-5%);
		}
	}

	.callout-content {
		padding: 10px 20px 20px;
		width: 60%;

		@media (min-width: $breakpoint-desktop-wide) {
			font-size: 1.33em;
		}

		@media (min-width: $breakpoint-desktop-min) {
			border-left: 10px solid transparent;
		}

		@media (min-width: $breakpoint-tablet-min) and (max-width: $breakpoint-tablet-max) {
			border-left: 8px solid transparent;
		}

		@media (max-width: $breakpoint-mobile-max) {
			clear: both;
			padding: 10px 0 20px;
			width: 100%;
		}
	}

	h2 {
		margin-bottom: 0;
		position: relative;
		white-space: nowrap;
		width: 100%;
	}

	p {
		margin-bottom: 0;
	}

	@media (min-width: $breakpoint-tablet-min) {
		&.reverse {
			background: $color-beige-dark;

			.container {
				flex-direction: row-reverse;
			}

			.callout-image {
				border-color: $color-beige-dark;
			}

			.callout-image-1 {
				float: right;
			}

			.callout-image-2 {
				float: left;
			}
		}
	}

	&.blue {
		.callout-content {
			border-color: $color-blue;
		}

		h2 {
			color: $color-blue;
		}
	}

	&.yellow {
		.callout-content {
			border-color: $color-yellow;
		}

		h2 {
			color: $color-yellow;
		}
	}

	&.red {
		.callout-content {
			border-color: $color-red;
		}

		h2 {
			color: $color-red;
		}
	}
}

// Two image blade callout
// ---------------------------------------+
//

.callout-blade {
	color: $color-white;
	display: block;
	padding: 30px 0;
	position: relative;
	text-align: center;

	@media (max-width: $breakpoint-mobile-max) {
		padding: 10px 0;
	}

	&::after {
		background: $color-white;
		bottom: -15px;
		content: '';
		display: block;
		height: 30px;
		left: 50%;
		margin-left: -15px;
		position: absolute;
		transform: rotate(45deg);
		width: 30px;
	}

	.callout-images {
		height: 30vw;
		margin-bottom: 30px;
		max-height: 500px;
		position: relative;

		@media (min-width: $breakpoint-tablet-min) and (max-width: $breakpoint-tablet-max) {
			height: 40vw;
		}

		@media (max-width: $breakpoint-mobile-max) {
			height: 50vw;
			margin-bottom: 20px;
		}
	}

	.bg-image {
		background: center center no-repeat;
		background-size: cover;
		display: block;
		height: 100%;
		position: absolute;
		top: 0;
		width: 50%;

		@media (max-width: $breakpoint-mobile-max) {
			width: 100%;
		}

		&.bg-left {
			left: 0;
		}

		&.bg-right {
			right: 0;

			@media (max-width: $breakpoint-mobile-max) {
				display: none;
			}
		}
	}

	.divider {
		align-items: center;
		background: $color-beige;
		display: flex;
		height: 102%;
		left: 50%;
		margin-left: -20px;
		position: relative;
		transform: skewX(5deg) translateY(-2px);
		width: 40px;

		@media (max-width: $breakpoint-tablet-max) {
			margin-left: -15px;
			width: 30px;
		}

		@media (max-width: $breakpoint-mobile-max) {
			display: none;
		}
	}

	&.green {
		background: $color-green;

		&::after {
			background: $color-green;
		}

		.divider {
			background: $color-green;
		}
	}

	h2 {
		color: $color-white;
		margin-bottom: 0;
	}

	p {
		font-size: 1.33em;
	}
}



// Two image blade callout
// ---------------------------------------+
//

.callout-boxes {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 30px auto;
	max-width: 90%;
	text-align: center;

	@media (min-width: $breakpoint-desktop-min) {
		max-width: 80%;
	}

	@media (min-width: $breakpoint-desktop-wide) {
		max-width: 60%;
	}

	.callout-box {
		align-items: center;
		border-radius: 4px;
		display: flex;
		flex-basis: calc(100% - 20px);
		flex-direction: column;
		margin: 10px;
		overflow: hidden;

		@media (min-width: $breakpoint-tablet-min) {
			flex-basis: calc(50% - 40px);
		}

		@media (min-width: $breakpoint-desktop-min) {
			margin: 20px;
		}

		.callout-content {
			// background: linear-gradient(to bottom, rgba($color-black, 0.1), rgba($color-black, 0));
			// border-top: 2px solid transparent;
			color: $color-white;
			padding: 20px;
			width: 100%;

			p {
				font-size: 1.5em;
			}
		}

		&:nth-child(1) {
			background: $color-blue;
		}

		&:nth-child(2) {
			background: $color-yellow;
		}

		&:nth-child(3) {
			background: $color-red;
		}

		&:nth-child(4) {
			background: $color-green;
		}
	}
}
