
// Hero
// ---------------------------------------+
//

.hero {
	display: block;
	position: relative;
	width: 100%;

	@media (min-width: $breakpoint-desktop-min) {
		height: 60vw;
	}

	@media (max-width: $breakpoint-mobile-max) {
		padding-top: 60px;
	}
}

.hero-image {
	background: center center no-repeat;
	background-size: cover;
	height: 60vw;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;

	@media (max-width: $breakpoint-tablet-max) {
		position: relative;
	}

	.home & {
		background-image: url($image-path+'/home/hero.jpg');
	}
}

.hero-overlay {
	background: rgba($color-green, 0.95);
	bottom: 5%;
	color: $color-white;
	font-size: 1.5em;
	font-weight: bold;
	left: 50%;
	max-width: $container-width-max;
	padding: 20px;
	position: absolute;
	transform: translateX(-50%);
	width: 80%;

	@media (max-width: $breakpoint-desktop-wide) {
		font-size: 1em;
	}

	@media (max-width: $breakpoint-tablet-max) {
		bottom: auto;
		left: 0;
		position: relative;
		transform: none;
		width: 100%;
	}

	p {
		margin-bottom: 0;
	}
}
