	<footer class="site-footer">
		<div class="container flex-row">
			<div class="flex-column">
				<h4><a href="#">About Us</a></h4>
				<ul>
					<li><a href="#">Mission &amp; Goals</a></li>
					<li><a href="#">History</a></li>
					<li><a href="#">Our Team</a></li>
					<li><a href="#">Board Members</a></li>
					<li><a href="#">Contact Us</a></li>
				</ul>
			</div>

			<div class="flex-column">
				<h4><a href="#">Donate</a></h4>
				<ul>
					<li><a href="#">Memorials</a></li>
					<li><a href="#">Partners</a></li>
				</ul>

				<h4><a href="#">Events</a></h4>

				<h4><a href="#">Projects</a></h4>
			</div>

			<div class="flex-column">
				<h4>Follow Us</h4>
				<a href="#">Facebook</a>
				<a href="#">YouTube</a>
			</div>
		</div>
	</footer>
