	<footer class="site-footer">
		<div class="container flex-row">
			<div class="flex-column logo-column">
				<p>
					<a href="/" class="footer-logo" id="skip-to-footer">The Innovation Institute</a>
				</p>
			</div>
			<div class="flex-column link-column">
				<h4><a href="/about/">About Us</a></h4>
				<ul>
					<li><a href="/about/mission-goal/">Mission &amp; Goal</a></li>
					<li><a href="/about/our-team/">Our Team</a></li>
					<li><a href="/about/board-members/">Board Members</a></li>
					<li><a href="/about/contact/">Contact Us</a></li>
				</ul>
			</div>

			<div class="flex-column link-column">
				<h4><a href="/donate/">Donate</a></h4>
				<ul>
					<li><a href="/donate/memorials/">Memorials</a></li>
					<li><a href="/donate/partners/">Partners</a></li>
				</ul>
			</div>

			<div class="flex-column link-column">
				<h4><a href="/events/">Events</a></h4>
				<h4><a href="/projects/">Projects</a></h4>
			</div>

			<div class="flex-column social-column">
				<ul>
					<li>
						<a href="https://www.facebook.com/Innovation.Institute.Duncanville/" class="" target="_blank" rel="noopener" title="Facebook">
							Facebook: link opens in a new window
							<svg class="icon icon-facebook" focusable="false"><use xlink:href="@@img-path/icons.svg#icon-facebook"></use></svg>
						</a>
					</li>
					<li>
						<a href="#" target="_blank" rel="noopener" title="YouTube">
							YouTube: link opens in a new window
							<svg class="icon icon-youtube" focusable="false"><use xlink:href="@@img-path/icons.svg#icon-youtube"></use></svg>
						</a>
					</li>
				</ul>
			</div>
		</div>

		<div class="footer-bottom">
			<p>
				<span>1938 County Rd. 607, Alvarado, TX 76009</span>
				<span>Phone: 972-298-4588 // 972-709-5391</span>
				<span><a href="mailto:WheelingMechanics@gmail.com">WheelingMechanics@gmail.com</a></span>
			</p>
			<p>&copy; 2022. The Innovation Institute is registered with the IRS as a 501(c)3 non-profit organization.</p>
		</div>
	</footer>
