	<footer class="site-footer">
		<div class="container flex-row">
			<div class="flex-column logo-column">
				<p>
					<a href="/" class="footer-logo">The Innovation Institute</a>
				</p>
			</div>
			<div class="flex-column link-column">
				<h4><a href="#">About Us</a></h4>
				<ul>
					<li><a href="#">Mission &amp; Goals</a></li>
					<li><a href="#">History</a></li>
					<li><a href="#">Our Team</a></li>
					<li><a href="#">Board Members</a></li>
					<li><a href="#">Contact Us</a></li>
				</ul>
			</div>

			<div class="flex-column link-column">
				<h4><a href="#">Donate</a></h4>
				<ul>
					<li><a href="#">Memorials</a></li>
					<li><a href="#">Partners</a></li>
				</ul>

				<h4><a href="#">Events</a></h4>

				<h4><a href="#">Projects</a></h4>
			</div>

			<div class="flex-column social-column">
				<ul>
					<li>
						<a href="#" class="" target="_blank" title="Facebook">
							Facebook: link opens in a new window
							<svg class="icon icon-facebook" focusable="false"><use xlink:href="assets/img/icons.svg#icon-facebook"></use></svg>
						</a>
					</li>
					<li>
						<a href="#" target="_blank" title="YouTube">
							YouTube: link opens in a new window
							<svg class="icon icon-youtube" focusable="false"><use xlink:href="assets/img/icons.svg#icon-youtube"></use></svg>
						</a>
					</li>
				</ul>
			</div>
		</div>

		<div class="footer-bottom">
			<p>
				<span>1219 Crestdell Dr., Duncanville, TX 75137</span>
				<span>Phone: 972-298-4588 // 972-709-5391</span>
				<span><a href="mailto:WheelingMechanics@gmail.com">WheelingMechanics@gmail.com</a></span>
			</p>
			<p>&copy; 2017. The Innovation Institute is registered with the IRS as a 501(c)3 non-profit organization.</p>
		</div>
	</footer>
