	<header class="site-header">
		<div class="container">

			<a href="/" class="primary-logo">
				The Innovation Institute
			</a>

			<a href="#" class="nav-toggle" id="jump-nav-toggle">
				<i class="bars"></i>
				<span class="offscreen">Click to </span>
				<span class="offscreen is-closed-label">Open Menu</span>
				<span class="offscreen is-open-label">Close Menu</span>
			</a>

			<nav class="primary-nav">
				<ol>
					<li class="nav-flyout-container">
						<a href="/about/">About Us</a>
						<ul class="nav-flyout">
							<li><a href="/about/mission-goal/">Mission &amp; Goal</a></li>
							<li><a href="/about/our-team/">Our Team</a></li>
							<li><a href="/about/board-members/">Board Members</a></li>
							<li><a href="/about/contact/">Contact Us</a></li>
						</ul>
					</li>

					<li class="nav-flyout-container">
						<a href="/donate/">Donate</a>
						<ul class="nav-flyout">
							<li><a href="/donate/memorials/">Memorials</a></li>
							<li><a href="/donate/partners/">Partners</a></li>
						</ul>
					</li>

					<li><a href="/events/">Events</a></li>

					<li><a href="/projects/">Projects</a></li>
				</ol>
			</nav>

		</div>
	</header>
