	<header class="site-header">
		<div class="container">

			<a href="/" class="primary-logo">
				The Innovation Institute
			</a>

			<a href="#" class="nav-toggle" id="jump-nav-toggle">
				<i class="bars"></i>
				<span class="offscreen">Click to </span>
				<span class="offscreen is-closed-label">Open Menu</span>
				<span class="offscreen is-open-label">Close Menu</span>
			</a>

			<nav class="primary-nav">
				<ol>
					<li class="nav-flyout-container">
						<a href="#">About Us</a>
						<ul class="nav-flyout">
							<li><a href="#">Mission &amp; Goals</a></li>
							<li><a href="#">History</a></li>
							<li><a href="#">Our Team</a></li>
							<li><a href="#">Board Members</a></li>
							<li><a href="#">Contact Us</a></li>
						</ul>
					</li>

					<li class="nav-flyout-container">
						<a href="#">Donate</a>
						<ul class="nav-flyout">
							<li><a href="#">Memorials</a></li>
							<li><a href="#">Partners</a></li>
						</ul>
					</li>

					<li><a href="#">Events</a></li>

					<li><a href="#">Projects</a></li>
				</ol>
			</nav>

		</div>
	</header>
