

// Global Footer
// ---------------------------------------+
//

.site-footer {
	background: $color-grey;
	color: $color-white;
	font-size: 18px;
	padding: 100px 0;

	@media (max-width: $breakpoint-tablet-max) {
		padding: 50px 0;
	}

	@media (max-width: $breakpoint-mobile-max) {
		font-size: 12px;
	}

	.flex-row {
		align-items: flex-start;
	}

	// Base link styles
	a {
		color: $color-white;
		text-decoration: none;

		&:hover,
		&:focus {
			border-bottom: 1px solid $color-blue-light;
			color: $color-blue-light;

			.icon {
				fill: $color-blue-light;
			}
		}
	}
}
